<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <!-- Open Sans and Courier Prime fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <div class="TopBar">
            <a class="TopBarItem TopBarLogo" href="/"></a>
            <a class="TopBarItem" href="/whack">Whack™</a>
            <a class="TopBarItem" href="/about">About</a>
        </div>
        <div class="TopBar" style="position: fixed; top: 0">
        </div>
    </header>
    <main>{{ content }}</main>
    <footer>
        <p>Copyright © Hydroper</p>
    </footer>
</body>
</html>